.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  label {
    // display: block;
    margin-bottom: 5px;
  }
  input,
  select,
  button {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
  }
}
.info {
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    width: 80%;
    font-weight: 500;
  }
}

.desc {
  color: gray;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

header {
  font-size: 3rem;
  font-size: 600;
}

iframe {
  display: none;
}
