.slider {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slider .d-image {
  width: 100%;
  height: 75%;
}

.right-arrow {
  position: absolute;
  top: 35%;
  right: 80px;
  font-size: 5rem;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  background: none;
  border: none;
}
.right-arrow:hover,
.left-arrow:hover {
  opacity: 1;
}

.left-arrow {
  position: absolute;
  top: 35%;
  left: 80px;
  font-size: 5rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  background: none;
  border: none;
}

@media screen and (max-width: 700px) {
  .right-arrow,
  .left-arrow {
    top: 20%;
    font-size: 3rem;
  }
  .right-arrow {
    right: 50px;
  }
  .left-arrow {
    left: 50px;
  }
}

@media screen and (max-width: 400px) {
  .right-arrow {
    right: 30px;
  }
  .left-arrow {
    left: 30px;
  }
}


.home-individual-image {
	margin-top: 25px;
}

.slider-title{
	display: block;
	text-align: center;
	margin-top: 0px;
	font-family: Oswald,sans-serif;
	color: #232528;
}

.slider-div{
	margin: 10px;
	padding: 0px;
	/* border: 1px solid black; */
}

.main-slider{
	/* border: 1px solid black; */
	margin: 0px 20px;
}


@media screen and (max-width: 800px) {
	
}