body {
width: 750px;
font-family: Arial, Verdana, sans-serif;
color: #665544;}

p {
width: 450px;}

p.second {
        position: relative;
        top: 10px;
        left: 200px;
}

h1 {
position: absolute;
top: 0px;
left: 500px;
width: 250px;
background-color: #efefef;
padding: 10px;
}
