*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.main-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center ;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}
.custom-button{
	border-radius: 10px;
	padding: 10px 30px;
	font-size: 1.2rem;
	outline: none;
	cursor: pointer;
	border-width: 1px;
	transition: 0.4s all;
	display: inline;
	border: none;
	color: white;
	margin-top: 20px;
}

/* .custom-button:hover {
	border: none;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
} */

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.status , .current-status{
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 20px;
}


#current-status {
	color: red;
}
