
<!-- ATTRIBUTES SELECTIVE: THEY DON'T CHANGE THE DOM STRUCTURE BUT THEY CHANGE THE ELEMENT -->

<!-- -------------------- DYNAMIC STYLING USING NGSTYLE -------------------- -->
<h4 [ngStyle]="{backgroundColor: getColor() }"  [ngStyle]="{fontSize: '2rem'}">Hello there, I am server with id {{serverId}} with status: {{getServerStatus()}}</h4>

<!-- ------------------- DYNAMIC CSS CLASS USING NGCLASS ------------------- -->
<h4 [ngClass]="{online: serverStatus ==='Online'}" [ngStyle]="{backgroundColor: getColor() }">Dynamic class binding using ngClass</h4>

