* {
  margin-bottom: 20px;
}
.App {
  text-align: center;
  width: 100%;
  display: flex;

  flex-direction: column;
  margin: 20px;
}

.rotate {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 20px;
}

.inner-rotate {
  width: 100px;
  height: 100px;
  background-color: pink;
}

.boxSize {
  height: 100px;
  width: 100px;
}
.box,
.box1,
.box2,
.box3,
.box10 {
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.box1,
.box4,
.box7 {
  background-color: cadetblue;
}
.box2,
.box5,
.box8 {
  background-color: chartreuse;
}

.box3,
.box6,
.box9 {
  background-color: coral;
}

.scrollDiv {
  width: 100%;
  height: 500px;
  background-image: url("./Images/Learn-02-Egg000.jpg");
}
