p#first {
        color: pink;
}
#second {
        color: green;
}
p.third {
        background-color: rgba(255, 0, 0, 0.2);
}
h1,h2,h3,h4 {
        font-family: Arial;
}
h1+p {
        background-color: rgb(0, 0, 0);
}

h1~p{
        color: black;
}
p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
