.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  cursor: pointer;
  color: rgb(169, 165, 165) !important;
}
.active .navbar-brand {
  cursor: pointer;
  color: white !important;
}

button,
.btn {
  margin: 10px;
}

input {
  background-color: transparent !important;
  color: white !important;
  margin: 10px !important;
}

.usememo-content {
  display: flex;
  align-items: center;
}
